body{
    background-color:ghostwhite;color:#222;
}
h1{
    text-align: center;font-family:'Times New Roman', Times, serif;
    font-size:90px;color:maroon
}
h2{
    text-align: center;
    font-size:50px;color:maroon;
}
h4{
    font-size: 30px;
}
.sidebar{
    list-style-type:disc;
    margin:0;padding:0;top:0;left:0;
    width:25%;height:100%;
    background-color: maroon;
    position:fixed;overflow:auto;
}
img{
    padding-left:350px;width:40%;height:40%;
    border-radius:20%;
}
.in{
    text-align: center;
}
li a{
    display:block;
    padding:8px 16px;
    text-decoration:none;color:white;font-size: 20px;
}
li a:hover{
    background-color:brown;
    color:white;
}

.content{
    padding-left:350px;
}
h3{
    font-size: 70px;text-align: center;color:#6b1a2a;
}
.edu{
    display: flex;gap:20px;

}

.edu1{flex:1;
    background-color: rgb(227, 227, 227);font-size: 25px;
    border-top: 5px solid maroon;padding:25px;margin:25px;
}
.ski{
    display: flex;gap:20px;
}
.s1{
    flex:1;background-color: rgb(227, 227, 227);
    font-size: 25px;
    border-top: 5px solid maroon;padding:25px;margin:25px;
}
.s{
    list-style-type: disc; 
    border-style: groove;margin:10px;
}
b{
    color:maroon;
}
.s2{
    list-style-type: disc; 
    border-style: groove;padding:25px;margin:25px;width:50%;
}
p{
    font-size: 30px;
}
